*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.box{
    height: 400px;
    width: 300px;
    background-color: beige;
    border: none;
    padding: 20px;
    display: flex;
  box-shadow: 5px 5px  rgba(0, 0, 0, 0.591);
flex-direction: column;
    border-radius: 20px;
}


.box label{
 font-weight: 900;
opacity: 80%;
}

.box input{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin:  10px 0px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
    text-transform: uppercase;
}

.box p {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
    color: red;
}
.box button {
   height: 35px;
   width: 100%;
   border-radius: 10px;
   border: none;
   background-color: rgba(255, 0, 0, 0.486);
   font-weight: 900;
   font-size: 20px;
   color: white;
   margin-top: 20px;
}

.box span {
   color: rgb(255, 0, 98);
border: 2px dotted rgb(246, 0, 250);
padding: 10px;
border-radius: 20px;

}


.pp{
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin: 20px;
    color: red;
}