 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family:Arial, sans-serif;

 }
    

body{
    background:#5a4141;
    display:flex;
    justify-content:center;
    padding:30px;
    
}

.quiz-box{
    width:700px;
    background:white;
    padding:25px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.question{
    margin-bottom:35px;
}

.question h3{
    margin-bottom:15px;
    font-size:24px;
}

.option{
    display:block;
    margin:8px 0;
    font-size:20px;
    cursor:pointer;
}

input[type="radio"]{
    margin-right:10px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:#0d6efd;
    color:white;
    font-size:22px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0b5ed7;
}


.result {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    background-color: black;

    color: white;
}