* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
}

#img1 {
  background-image: url(assets/images/background-desktop.png);
 position: static;
  height: 120vh;
  width: 100%;
  background-size: cover;
  
}
#img2 {
  position: absolute;
  background-image: url(assets/images/pattern-lines.svg);
  height: 100vh;
  width: 100%;
  background-size: cover;
 
}
#img3 {
  position: absolute;
  background-image: url(assets/images/pattern-circle.svg);
  height: 22%;
  width: 22%;
  right: 80px;
  top: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
#img4 {
  position: absolute;
  background-image: url(assets/images/pattern-squiggly-line-top.svg);
  height: 25%;
  width: 25%;
  right: 0px;
  top: 50px;

  background-repeat: no-repeat;
  background-size: contain;
}
#img5 {
  position: absolute;
  background-image: url(assets/images/pattern-squiggly-line-bottom-desktop.svg);
  height: 70%;
  width: 70%;
  bottom: -130px;
  left: 0px;

 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#text {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
 
  
  height: 30vh;
  width: 100%;
}

#text1 {
 display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
 
  
  height: 30vh;
  width: 100%;
}


#text h1 {
  text-align: center;
  font-size: 50px;
 
  width: 50vw;
 
  
}
#text1 h1 {
 text-align: center;
  font-size: 50px;
 
  width: 50vw;
 
}
#text p {
  font-size: 20px;
  opacity: 70%;
  position: relative;
  top: 10px;
}
#text1 p {
  font-size: 20px;
  opacity: 70%;
  position: relative;
  top: 10px;
  text-align: center;
}



form {
  position: relative;
 
  height: 60vh;
  width: 100%;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form1 {
  height: 70vh;
  width: 70vh;
  
   text-align:left;
   
}

#input-file{
    height: 10vh;
    width: 100%;
    background-color: blanchedalmond;
    
}

#img-viwe{

    width: 100%;
    height: 130px;

    border: 2px dashed white;

    border-radius: 15px;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    background-color:#1a1535af;

    position: relative;

}



#preview{

    width: 100px;

    height: 100px;

    border-radius: 12px;

    object-fit: contain;

    display: none;

}



.img-icon{

    background-image: url(assets/images/icon-upload.svg);

    background-size: 40px;

    background-position: center top;

    background-repeat: no-repeat;

    text-align: center;

    padding-top: 50px;

}

.form1 label{
display: block;
    
   margin: 10px 10px 10px 0;
}

#name{
    height: 8vh;
    width: 100%;
  background-color: #1a1535af;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.406);
}

#Email{
    height: 8vh;
    width: 100%;
  background-color: #1a15359e;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.406);

}
#Username{
    height: 8vh;
    width: 100%;
  background-color: #1a1535a2;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.406);

}

#btn{
    margin-top: 30px;
      height: 8vh;
    width: 100%;
  background-color: #f67464;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.406);


}
#Username::placeholder{
    padding: 10px;


}
#Email::placeholder{
    padding: 10px;

}


input{
  font-weight: 700;
  padding: 10px;
}


.ticket{
 height: 50vh;
  width: 100%;
 
 padding: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
  
}

.ticket-img{
  background-image: url(assets/images/pattern-ticket.svg);
  height: 200px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: left;
}

.logo{
   background-image: url(assets/images/logo-full.svg);
   height: 13%;
   width: 50%;
   background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 25px;
  top: 20px;
 
}

.date{
  height: 8%;
  width: 30%;
  position: relative;
top: 30px;
left:70px;
font-size: 10px;
}

.user-photo{
  height: 30%;
  width: 15%;
  border-radius: 10px;
  background-image: url(assets/images/image-avatar.jpg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  top: 70px;
  left: 20px;


}

.full-namm{
  position: relative;
  top: 15px;
  left: 100px;
  font-weight: 700;
  font-size: 25px;
}

.gethub{
  background-image: url(assets/images/icon-github.svg);
  position: relative;
  height: 10%;
  width: 50%;
    background-size: contain;
  
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  left: 90px;
  top: 25px;
  
}

.user-name{
  position: relative;
  top: 8px;
  left: 115px;
  font-weight: 500;
  font-size: 13px;

}
 .id{
  position: absolute;
     writing-mode: vertical-rl;
  bottom: 260px;
  right: 450px;
  font-size: 20px;
  font-weight: 800;
  opacity: 50%;
} 
 

@media (max-width:750px) {
  #text {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
 
  border: 2px solid transparent;
  height: 30vh;
  width: 100%;
}

 #text h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 8vmin;
 
  width: 100vmin;
 
  
}

#text p {
  text-align: center;
  font-size: 20px;
  opacity: 70%;
  width: 85vmin;
 
}

#text img {
  position: relative;
  top: -20px;
}
  #text1 {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
 
  border: 2px solid transparent;
  height: 30vh;
  width: 100%;
}

 #text1 h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 8vmin;
 
  width: 100vmin;
 
  
}

#text1 p {
  text-align: center;
  font-size: 15px;
  opacity: 70%;
  width: 85vmin;
 border: 2px solid white;
}

#text1 img {
  position: relative;
  margin: 20px 20px;
}


.ticket{
 height: 50vh;
  width: 100%;
 border: 2px solid white;
 padding: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
  
}

.ticket-img{
  background-image: url(assets/images/pattern-ticket.svg);
  height: 200px;
  width:400px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: left;
}

.logo{
   background-image: url(assets/images/logo-full.svg);
   height: 13%;
   width: 50%;
   background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 15px;
  top: 15px;
 
}

.date{
  height: 8%;
  width: 50%;
  position: relative;
top: 15px;
left:40px;
font-size: 10px;
}

.user-photo{
  height: 25%;
  width: 20%;
  border-radius: 10px;
  background-image: url(assets/images/image-avatar.jpg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  top: 20px;
  left: 15px;


}

.full-namm{
  position: relative;
  top: -20px;
  left: 75px;
  font-weight: 700;
  font-size: 13px;
  max-width: 150px;
  border: 2px solid white;
}

.gethub{
  background-image: url(assets/images/icon-github.svg);
  position: relative;
  height: 7%;
  width: 30%;
    background-size: contain;
  
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  left: 75px;
  top: -15px;
  
}

.user-name{
  position: relative;
 left: 90px;
  top: -27px;
  font-weight: 500;
  font-size: 8px;

}
 .id{
  position: absolute;
     writing-mode: vertical-rl;
  bottom: 290px;
  right: 60px;
  font-size: 15px;
  font-weight: 800;
  opacity: 50%;
}  

#img1 {
  background-image: url(assets/images/background-desktop.png);
  height: 108vh;
  width: 100%;
  background-size: cover;
}
#img2 {
  position: absolute;
  background-image: url(assets/images/pattern-lines.svg);
  height: 100vh;
  width: 100%;
  background-size: cover;
}
#img3 {
  position: absolute;
  background-image: url(assets/images/pattern-circle.svg);
  height: 22%;
  width: 22%;
  right: 80px;
  top: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
#img4 {
  position: absolute;
  background-image: url(assets/images/pattern-squiggly-line-top.svg);
  height: 40%;
  width: 40%;
  right: 0px;
  top: 50px;
  
  background-repeat: no-repeat;
  background-size: contain;
}
#img5 {
 
  background-image: url(assets/images/pattern-squiggly-line-bottom-desktop.svg);
  position: absolute;
bottom: -130px;
  height: 400px;
  width:100%;
  right: 0px;
 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


form {
  padding: 15px;
  position: relative;

  height: 80vh;
  width: 100%;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
  
}